* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  background: #111;
  color: #eaeaea;
  overflow-x: hidden;
}

body {
  font-family: Arial, sans-serif;
}
@media print {
  body * {
    visibility: hidden;
  }

  #combined-print-area,
  #combined-print-area * {
    visibility: visible;
  }

  #combined-print-area {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: white;
  }
}